---
import Layout from "../../layouts/Layout.astro"
import BlogCard from "../../components/BlogCard.astro";

const posts = await Astro.glob("./*.md");
const pageDescription = "this is where I do all of my rambling";
const noPostsMessage = "nothing posted yet. Stay tuned!";
---

<Layout title="Donggyu Kim - Posts">
	<a href="/">Go Back</a>
	<h1>Posts</h1>
	<p class="mb-12 text-center text-xl">{ pageDescription }</p>
	{
		posts.length > 0 ? 
			<ul>
				{ posts.map((post) => <BlogCard post={post} />) }
			</ul> :
			<p class="text-center text-xl">{ noPostsMessage }</p>
	}
</Layout>

<style>
	:root {
		color-scheme: dark;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 0.6em;
	}
</style>