---
import Layout from "../../layouts/Layout.astro"
import BlogCard from "../../components/BlogCard.astro";
import MainPageAnchor from "../../components/MainPageAnchor.astro"
import type { MarkdownInstance } from "astro";

let posts: MarkdownInstance<Record<string, any>>[] = [];

try {
	posts = await Astro.glob("./*.md");
	posts.sort((a, b) => {
		const dateA = new Date(a.frontmatter.pubDate);
		const dateB = new Date(b.frontmatter.pubDate);

		return dateB.getTime() - dateA.getTime();
	});
} catch (err) {
	posts = [];
}

const pageDescription = "you can find all of my yapping here";
const noPostsMessage = "...but nothing is posted yet. Stay tuned!";
---

<Layout title="Donggyu Kim - Posts">
	<MainPageAnchor />
	<h1>Posts</h1>
	<p class="mb-12 text-center text-xl">{ pageDescription }</p>
	{
		posts.length > 0 
			? <ul>{ posts.map(post => <BlogCard post={post} />) }</ul> 
			: <p class="text-center text-xl">{ noPostsMessage }</p>
	}
</Layout>

<style>
	:root {
		color-scheme: dark;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 0.6em;
	}
</style>