---
import Layout from "../../layouts/Layout.astro"

const posts = await Astro.glob("./*.md");
console.log(posts);
---

<Layout title="Donggyu Kim - Posts">
	<a href="/">Go Back</a>
	<h1>Posts</h1>
    <ul>
        {
            posts.map((post) => (
                <div class="flex justify-between mx-16">
                    <a href={post.url}>{ post.frontmatter.title }</a>
                    <p>{ post.frontmatter.pubDate.split("T")[0]}</p>
                </div>
            ))
        }
    </ul>
</Layout>

<style>
	:root {
		color-scheme: dark;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>