---
import Layout from "../layouts/Layout.astro";
import CurrentSong from "../components/CurrentSong.astro";
import SongsTable from "../components/SongsTable.astro";

const introMessage = "Hi! I'm Donggyu. I'm a 4th year CS student at UBC. blahblah";
const pageDescription = "more info about me here!";
---

<Layout title="Donggyu Kim - About">
	<a href="/">Go Back</a>
	<div class="flex flex-col items-center">
		<h1>About me</h1>
		<p class="mb-12 text-center text-xl">{ pageDescription }</p>
		<div class="text-wrap text-xl max-w-[650px] mx-5">
			<p>{ introMessage }</p>
			<p>
				Also, I like digging up new music to bump
				<span class="inline-block animate-bounce">ᕕ(⌐■_■)ᕗ ♪♬</span>
			</p>
		</div>
		<CurrentSong />
		<SongsTable />
	</div>
</Layout> 

<style>
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 0.6em;
	}
</style>