---
import Layout from '../layouts/Layout.astro';
import SocialList from '../components/SocialList.astro';
import ProfileImage from '../components/ProfileImage.astro';

const introMessage = "Hi! I'm Donggyu, and I'm in my 4th year as an undergrad CS student. I'm currently learning about distributed systems and game development.";
const profileImageSize = 200;
---

<Layout title="Donggyu Kim">
	<div class="flex flex-col items-center">
		<ProfileImage size={profileImageSize} />
		<h1 class="bg-gradient-to-r from-indigo-500 to-purple-600 bg-clip-text text-transparent">
			Donggyu Kim
		</h1>
		<SocialList />
		<br />
		<div class="text-wrap text-xl max-w-[650px] mx-5">
			<p>{ introMessage }</p>
			<br/>
			Also, I like digging up new music to bump
			<span class="inline-block animate-bounce">ᕕ(⌐■_■)ᕗ ♪♬</span>
		</div>
		
		<br />
	</div>
</Layout>

<style>
	h1 {
		font-size: 4rem;
		font-weight: 700;
		/* line-height: 1; */
		text-align: center;
		margin-bottom: 0.25em;
	}
</style>
