---
import type { MarkdownInstance } from "astro";

const post: MarkdownInstance<Record<string, any>> = Astro.props.post;
---

<li class="pc:mx-16 mx-5 text-2xl">
    <a href={post.url} class="flex flex-col hover:underline pc:flex-row w-full pc:justify-between">
        { post.frontmatter.title }
        <p class="inline mb-5 pc:mb-2 text-gray-300 text-[20px]">{ post.frontmatter.pubDate.split("T")[0]}</p>
    </a>
</li>