---
export interface Song {
	isPlaying?: boolean;
	title?: string;
	artist?: string;
	image?: {
		url: string;
		width: number;
		height: number;
	};
	url?: string;
}

const baseUrl = import.meta.env.NODE_ENV === "production"
	? import.meta.env.BASE_URL
	: "http://localhost:4321/";

const res: Song = await fetch(baseUrl + "current_song")
	.then((data) => data.json())
	.catch(err => {
		console.error(err);
		return { isPlaying: false };
	});
---

{
    res?.isPlaying ? 
    <div>
		currently bumping:
		<a href={res.url} target="_blank" class="bg-slate-800 text-left flex items-center p-4 rounded-3xl transition ease-in-out hover:bg-slate-700">
			<img src={res.image?.url} class="rounded-3xl" width="85" height="85" alt={`${res.title} by ${res.artist}`}>
			<div class="ml-4 mr-2 truncate">
				<p class="text-2xl underline underline-offset-4 mb-2 lg:mb-4 truncate max-w-[200px] lg:max-w-[423px]">{ res.title }</p>
				<p class="text-base">{ res.artist }</p>
			</div>
		</a>
	</div> :
    <div class="inline">music player is snoozing atm (´つз-)｡O.ﾟ｡*Zzz</div>
}