---
---

<div class="flex flex-row-reverse border-t border-slate-500/25 p-6">
    <p class="mx-6">Email</p>
    <p class="ml-6">Github</p>
    <p class="ml-6">Instagram</p>
    <p class="ml-6">LinkedIn</p>
    <p class="ml-6">X</p>
</div>