---
---

<div class="flex flex-row-reverse border-b border-slate-500/25 p-6 sticky left-0 top-0 backdrop-blur">
    <a href="/projects" class="mx-6">Projects</a>
    <a href="/posts" class="ml-6">Posts</a>
    <a href="/about" class="ml -6">About</a>
</div>