---
---

<div class="z-50 flex items-center justify-center pc:justify-between flex-row-reverse border-b border-slate-500/25 p-6 sticky left-0 top-0 backdrop-blur-sm">
    <span>
        <a href="/" class="hover:underline underline-offset-2">Main</a>
        <a href="/about" class="ml-7 hover:underline underline-offset-2" data-astro-prefetch>About</a>
        <a href="/posts" class="ml-7 hover:underline underline-offset-2" data-astro-prefetch>Posts</a>
        <!-- <a href="/projects" class="ml-7 hover:underline underline-offset-2" data-astro-prefetch>Projects</a> -->
    </span>

    <!-- <a href="/" class="hidden lg:inline">
        <ProfileImage size="40" />
    </a> -->
</div>