---

const { url, title, description } = Astro.props;
---

<a href={url} class="bg-slate-800 transition ease-in-out p-2 pl-4 rounded-lg hover:bg-slate-700">
    <h3 class="font-semibold underline underline-offset-8">{ title }</h3>
    <p class="text-wrap mt-9">{ description }</p>
</a>