---

---

<div class="flex justify-center p-4">
    <div class="mx-6">Email</div>
    <div class="mx-6">Github</div>
    <div class="mx-6">Instagram</div>
    <div class="mx-6">LinkedIn</div>
    <div class="mx-6">X</div>
</div>