---
import EmailIcon from "./icons/EmailIcon.astro";
import GithubIcon from "./icons/GithubIcon.astro";
import InstagramIcon from "./icons/InstagramIcon.astro";
import LinkedInIcon from "./icons/LinkedinIcon.astro";
import TwitterIcon from "./icons/TwitterIcon.astro";
---

<div class="flex justify-center p-4">
    <EmailIcon />
    <GithubIcon />
    <InstagramIcon />
    <LinkedInIcon />
    <TwitterIcon />
</div>