---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
    <a href="/posts">Back</a>
    <h1 class="text-center">{ frontmatter.title }</h1>
    <p>Written by { frontmatter.author } on { frontmatter.pubDate.split("T")[0] }</p>
    <slot />
</Layout>

<style>
	:root {
		color-scheme: dark;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>